.App-logo {
  height: 80px;
}

.App-header {
  background: #202428;
  padding: 10px;
  color: #202428;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.vantajs {
  width: auto;
  height: 180px;
}