.App-logo {
  height: 80px;
}

.App-header {
  background: #202428;
  padding: 10px;
  color: #202428;
  text-align: center;
}

.App-intro {
  font-size: large;
}

.vantajs {
  width: auto;
  height: 180px;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  min-height: 32em;
  position: relative;
}

.questionCount {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.question {
  font-size: 1.2em;
  margin: 20px 0;
}

.answerOptions {
  list-style: none;
  padding: 0;
  margin: 0;
}

.answerOption {
  margin: 10px 0;
}

.radioCustomButton {
  margin-right: 10px;
}

.radioCustomLabel {
  font-size: 1em;
}

.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 800ms ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms ease-in;
}

.fade-appear {
  opacity: 0;
}

.fade-appear-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}
